.containerPromise3{
    display: flex;
    flex-direction: row;
    margin: 3%;
    background: url('../Images/centre.jpg');

    background-size: cover;
    background-position: center center;
    /* background-color: rgba(70, 131, 131, 0.5); */
    height: 40em;
    

}


.promise3-citation{
    color: #000000;
    font-size: 50px;
    padding: 2%;
    opacity: 100%;
    text-align: center;
    width: 40%;
    
}

.promise3-cadre{
    padding: 1.5%;
    position: relative;
    height: 25%;
    width: 48%;
    background-color: burlywood;
    bottom: -65%;
    line-height: 150%;
    /* bottom: -130px; */
    right: -7%;
    top: 75%;
}

.promise3-title{
    border-bottom:5px solid burlywood;
    color: white;
    background: rgba(141, 168, 196, 0.7);
}

.sentence{
    font-size: 120%;
    line-height: 200%;
}

.promise3-quiSommesNous{
    padding: 3%;
    margin-top: -5%;
    padding-bottom: 100%;
    color: #FFFFFF;
    text-align: justify;
}



@media (max-width: 1000px) { 
    .containerPromise3{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        background-size: contain;
        height: 0%;
        background-size: cover;
    }
    .promise3-title{
        width: 180%;
    }
    .promise3-cadre{
        position: unset;
        width: 100%;
        height: 12em;
    }

    .promise3-title{
        font-size: 70%;
        margin-top: 50%;
        text-align: left;
    }
}
@media (max-width: 450px) { 
    .promise3-cadre{
        height: 20em;
    }
}