
.textPersonne{
    font-size: 120%;
}

.containerPageCalendar{
    display: flex;
    justify-content: space-evenly;
}

.calendarContainer{
    display: flex;
    flex-direction: row;
}

.containerLeft{
    display: flex;
    flex-direction: column;
    
    
}
.creneauText{
    font-size: 150%;
    margin-top: 6%;
    text-align: center;
}
.messageText{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 100%;
}

.priceText{
    font-size: 200%;
    margin-top: 10%;
    font-weight: lighter;
    text-align: end;
    margin-right: 20%;
    
}

.logoCoutureContainer{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom:solid black 1px ;
    margin-left: 5%;
    margin-right: 5%;
}
.logoCouture{
    
    width: 30%;
    
}

@media (max-width: 700px) { 
    .calendarContainer{
        display: flex;
        flex-direction: column;
    }
    .calendar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

.textPersonne{
    width: 100%;
}
.inputTextPersonne{
    width: 20%;
}

.containerFormSpa{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

.elementForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttonChoiceWeekend{
    background-color: cadetblue;
    color: white;
    padding:7%;
    border-radius: 7px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    cursor: pointer;
    
}

.buttonChoiceWeekendClicked{
    border : solid cadetblue;
    padding:7%;
    border-radius: 7px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    cursor: pointer;
}

.buttonChoice17h{
    background-color: cadetblue;
    color: white;
    padding:7%;
    border-radius: 7px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    cursor: pointer;
}

.buttonChoice17hClicked{
    border : solid cadetblue;
    padding:7%;
    border-radius: 7px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    cursor: pointer;

}


.validateBtn{
    background-color: rgb(67, 148, 67);
    color: white;
    padding:7%;
    border-radius: 7px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    cursor: pointer;
    font-size: 120%;
}



@media (max-width: 950px) {

.textPersonne{
    width: 55%;
    font-size: 90%;
}
.inputTextPersonne{
    width: 20%;
}
    
.containerFormSpa{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    
    
}

.elementForm{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 5%;
    
}

.buttonChoiceWeekend{
    background-color: cadetblue;
    color: white;
    padding:1%;
    border-radius:7px;
    width: unset;
    padding-right: 2%;
    padding-left: 2%;
    cursor: pointer;
    
}

.buttonChoiceWeekendClicked{
    border : solid cadetblue;
    padding:1%;
    border-radius: 7px;
    width: unset;
    padding-right: 2%;
    padding-left: 2%;
    cursor: pointer;
}

.buttonChoice17h{
    background-color: cadetblue;
    color: white;
    padding:1%;
    border-radius: 7px;
    width: unset;
    padding-right: 2%;
    padding-left: 2%;
    cursor: pointer;
}

.buttonChoice17hClicked{
    border : solid cadetblue;
    padding:1%;
    border-radius: 7px;
    width: unset;
    padding-right: 2%;
    padding-left: 2%;
    cursor: pointer;

}


.validateBtn{
    background-color: rgb(67, 148, 67);
    color: white;
    padding:1%;
    border-radius: 7px;
    width: unset;
    padding-right: 2%;
    padding-left: 2%;
    cursor: pointer;
    font-size: 120%;
}


}