.footer{
    display: flex;
    flex-direction: column;
}

.footer-down{
    display: flex;
    flex-direction: row;
    background-color: rgba(94, 69, 48, 0.801);
    justify-content: space-evenly;
    color: #FFFFFF;
}



.footer-down-mention:hover{
    background-color: rgb(92, 16, 16);
}

.footer-up{
    display: flex;
    flex-direction: column;
    background-color: rgba(185, 179, 119, 0.67);
    color: rgb(161, 126, 60);
}

.footer-contact{
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    line-height: 300%;
    margin-left: 10%;
    line-height: 170%;
}
.footer-map{
    margin: 1%;
    margin-left: -15%;
    width: 40%;
    
}
.footer-contact-map{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form__field {
    font-family: inherit;
    width: 150%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color:rgb(161, 126, 60);
    padding: 7px 0;
    background: white;
    transition: border-color 0.2s;
}
.footer-message-form-send{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    text-decoration-style: solid;
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgb(161, 126, 60);
    padding:0.5%;
    color: white;
    border-radius: 30px;
    transition: 600ms;
    font-weight: lighter;
    &:hover{
        background-color: rgb(92, 16, 16);
    }
}

.footer-message-form{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.footer-message-form-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
}

.footer-message-form-input{
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.footer-message-form-input > input{
    border: none;
    box-shadow: 2px 2px 2px black;
}

.footer-message-form-txtarea{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-message-form-txtarea > textarea{
    margin-top: 3%;
    height: 100%;
    border: none;
    resize: none;
    box-shadow: 2px 2px 2px black;
}


.footer-message{
    display: flex;
    flex-direction: column;
}

.footer-down-mention{
    text-align: center;
    padding: 1%;
    color: white;
    
}


.footer-link{
    width: 20%;
    text-decoration: none;
}

.footer-reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   width: 30%;
   height: 3.5em;
   vertical-align: middle;
}
.footer-instagram{
    width: 100%;
    height: 3.5em;
    border-radius: 7px;
}
.footer-facebook{
    width:100%;
    height: 3.5em;
    border-radius: 7px;
}

.txtCouture2021Footer {
    width: 20%;
    text-align: center;
}


@media (min-width: 0px) and (max-width: 800px) { 

    .txtCouture2021Footer{
        width: 20%;
        text-align: center;

    }

    .footer-down-mention{
        text-align: center;
        padding: 1%;
        color: white;
        
    }
    
    
    .footer-link{
        width: 20%;
        text-decoration: none;
    }

    .footer-contact{
       
        width: 100%;
        
    }
    .footer-map{
        margin: 5%;
        width: 90%;
        
        
    }
    .footer-message-form-inputs{
        padding: 5%;
    }
    .footer-message-form{
        flex-direction: column;
    }
    
    .footer-message-form-send{
        width: 30%;
    }
    .footer-message-form-txtarea{
        width: 80%;
        height: 15em;
        padding: 5%;
        padding-top: 0%;
    }
    .footer-contact-map{
        flex-direction: column;
        padding: 3%;
    }

    .footer-reseaux{
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   width: 30%;
   height: 3.5em;
   vertical-align: middle;
    }

    .footer-facebook{
        width:100%;
    height: 3.5em;
    border-radius: 7px;
    }
    
    .footer-instagram{
        width: 100%;
    height: 3.5em;
    border-radius: 7px;
    }
}

