.home-intro{
    background-color: #633f0a;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;

}

.home-introText{    
    margin: 3%;
    
}

.home-introQuestion{
    margin: 3%;
    text-align: center;
}

@media (max-width: 800px) { 
    .home-intro{
   
        display: flex;
        flex-direction: column;
        
    }
}