.text-containerSpa{
    background-color: #C4C4C4;
    padding :3%;
    padding-bottom: 10%;
    position: relative;
    height: auto;
    width: 28em;
    left: -26em;
    top: 4em;
}

.imageSpa{
    padding :1%;
    position: relative;
    height: 15em;
    width: 25em;
    left: 25em;
    top: 0em;
    background: url("../Images/spa.jpeg");
    background-size: cover;

}

.titleSpa{
    font-size: larger;
    padding-left: 5%;

    padding-bottom: 1%;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size:x-large;
}

.textSpa{
    padding: 2%;
    padding-left: 12%;
    font-family: 'Sedan', sans-serif;
    font-size: normal
}
.container-spa{
    margin-top: 3em;
}
