


.container-room{
   
    background-color: rgb(218, 214, 180);
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin: 5%;
    


}

/* .containerTextRoom{
    
} */


.imageRoom{
    width:50%;
}

.containerTextBorderRoom{
    width:50%;
    border: double black;
    padding: 3%;
    background-color: whitesmoke;
    position: relative;
    left: -2%;
    top: 2em;
}

.room-link{
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) { 
    .container-room{
   
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin: 5%;
    
    
    }

    

    .containerTextBorderRoom{
        width:100%;
        top: -2em;
    }
    
    
    .imageRoom{
        width:100%;
 }
}