.home-intro{
    background-color: #523203;
    color: white;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 5%;
    margin-right:5%;
    margin-left:5%;


}

.home-introText{
    padding: 3%;
    align-self: center;
    

}

.home-introQuestion{
    text-align: center;
    padding:3%;
    align-self: center;
}

@media (max-width: 800px) { 
    .home-intro{
   
        display: flex;
        flex-direction: column;
        
    }
}