.home-intro{
    background-color: #523203;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10%;
    padding-left: 5%;
    margin-right:5%;
    margin-left:5%;


}

.home-introText{
    padding: 3%;
    align-self: center;
    max-width: 50%;
    font-size: 17px;

}

.home-introQuestion{
    text-align:justify;
    padding:3%;
    align-self: center;
    text-decoration: underline wheat 3px;
    font-weight: normal;
}

@media (max-width: 800px) { 
    .home-intro{
   
        display: flex;
        flex-direction: column;
        
    }
}