


.container-piscine{
   
    background-color: rgb(218, 214, 180);
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin: 5%;
    


}

.containerTextPiscine{
    
}


.imagePiscine{
    width:50%;
    position: relative;
    left: -3%;
    top: 0em;
    margin: 2%;
}

.containerTextBorderPiscine{
    width:50%;
    border: double black;
    padding: 3%;
    background-color: whitesmoke;
    z-index: 1;
}

@media (max-width: 800px) { 
    .container-piscine{
   
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin: 5%;
    
    
    }

    

    .containerTextBorderPiscine{
        width:100%;
        
    }
    
    
    .imagePiscine{
        width:100%;
        top: -2em;
        margin:5%;
 }
}