.room{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.room-diapo{
    margin-left: auto;
    margin-right: auto;
}

.room-info{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(94, 69, 48, 0.801);
    margin-bottom: 5%;
}

.room-info-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.room-info-txt > p {
    max-width: 30%;
}

.RoomHeader{
    background-color: rgba(94, 69, 48, 0.801);
    font-size: 300%;
    color: white;
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cocoon-box{
    
}

.fragole-box{
    
}

.scandinave-box{
    margin-bottom: 10%;
}

.cocoon-diapo{
    border: solid black;
    margin-left: auto;
    margin-right: auto;
}