
.PrivateContainerRoom{
    padding-left: 5%;
    padding-right: 5%;
}

.room{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.room-diapo{
    margin-left: auto;
    margin-right: auto;
}

.room-info{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(94, 69, 48, 0.801);
    margin-bottom: 5%;
}

.room-info-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.room-info-txt > p {
    max-width: 30%;
}

.RoomHeader{
    background-color: rgba(94, 69, 48, 0.801);
    font-size: 300%;
    color: white;
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cocoon-box{
   margin-bottom: 5%;
   margin-top: 5%;
   border-bottom: dashed grey;
}

.fragole-box{
    margin-bottom: 5%;
    margin-top: 5%;
}

.scandinave-box{
    margin-bottom: 5%;
    margin-top: 5%;
}

.cocoon-diapo{
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

.fragole-diapo{
    margin-left: 25%;
    width: 50%;
    height: 50%;
}


.scandinave-diapo{
    margin-left: 25%;
    width: 50%;
    height: 50%;
}


.cocoon-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cocoon1{
    padding-bottom: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    border-right: solid grey;
}

.cocoon2{
    padding-bottom: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    text-align: left;
    border-right: solid grey;
    
}

.cocoon3{
    padding-bottom: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}


.fragole-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: dashed black;
    margin-top: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.scandinave-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: dashed black;
    margin-top: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

