.PrivateSpaContainer{
    padding-left: 5%;
    padding-right: 5%;
}

.PrivateSpaContainer2{
    padding : 5%;
    margin: 5%;
    background-color: rgb(247, 238, 238);
}

.spa{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    
    
}

.spa-diapo{
    display: flex;
    flex-direction: row;
   

    
}

.spa-info{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(94, 69, 48, 0.801);
    filter: opacity(80%);
    margin-bottom: 5%;
    
}

.spa-info-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    
}
.spa-info-txt-element{
    padding:2%;
}

.spa-info-title{
    text-align: center;
}

.SpaHeader{
    background-color: rgba(94, 69, 48, 0.801);
    font-size: 300%;
    color: white;
    margin-bottom: 8%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.spabox{
    display: flex;
    flex-direction: row; 
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(218, 214, 180);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.poufsbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(218, 214, 180);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.saunabox{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(218, 214, 180);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.poolbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    background-color: rgb(218, 214, 180);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.spapic{
    height: 50%;
    width: 45%;
    margin-left: 3%;
    animation-name: fondu;
    animation-duration: 4s;
    position: relative;
    left: 47%;
}

.poufspic{
    height: 50%;
    width: 45%;
    animation-name: fondu;
    animation-duration: 3s;
    position: relative;
    left: 52%;
}

.saunapic{
    height: 30%;
    width: 40%;
    margin-left: 3%;
    animation-name: fondu;
    animation-duration: 5s;
    position: relative;
    left: 5%;
}

.piscinepic{
    height: 30%;
    width: 45%;
    animation-name: fondu;
    animation-duration: 3s;
    position: relative;
    left: 3%;
}


.spa-txt{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    right: 48%;
    margin-top: 3%;
    margin-left: 3%;
    background-color: white;
    border: double black;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.poufs-txt{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    position: relative;
    right: 45%;
    margin-left: 3%;
    background-color: white;
    border: double black;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.sauna-txt{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 7%;
    margin-left: 3%;
    background-color: white;
    border: double black;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.pool-txt{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 7%;
    position: relative; 
    background-color: white;
    border: double black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    
}

@keyframes fondu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 800px){
    .spabox{
        display: flex;
        flex-direction: column;

    }

    .saunabox{
        display: flex;
        flex-direction: column;
    }

    .poolbox{
        display: flex;
        flex-direction: column;
    }

    .poufsbox{
        display: flex;
        flex-direction: column;
    }

    .spapic{
        width: 100%;
    }

    .saunapic{
        width: 90%;
    }

    .piscinepic{
        width: 90%;
    }

    .poufspic{
        width: 100%;
    }
}

.privateSpaBox > h2{
    text-decoration: underline black;
}

.subPrivateSpaBox{
    display: flex;
    flex-direction: row;
}

.subPrivateSpaBox > p{
    margin: 3%;
}

.subPrivateSpaBoxPic{
    width: 40%;
}