.room{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    
    
}

.room-diapo{
    display: flex;
    flex-direction: row;
   

    
}

.room-info{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    margin-bottom: 5%;
    
}

.room-info-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    
}
.room-info-txt-element{
    padding:2%;
}

.room-info-title{
    text-align: center;
}



@media(max-width: 800px)  {
    .room-info-txt{
        
        flex-direction: column;

    }
}