.containerPromise2{
    margin: 6%;
    margin-top: 3%;
    margin-bottom: 3%;    
    background: url('../images/centre.jpg');
    background-size: cover;
    height: 40em;

}

.citation{
    color: white;
    font-size: 4em;
    padding: 5%;
    padding-top: 1%;
    opacity: 100%;


}
.groupelement{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    margin-top: 5%;
}

.element{
    padding: 0.2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5% ;
    text-align: center;
    border-radius: 8px;
    color: white;
}
#chambres{
    background-color: #8F4747;
    z-index: 1;
}
#piscine{
    background-color: #7B8C10;
}
#spa{
    background-color: #4B3D3D;
}
#modelages{
    background-color: #0D3F0B;
}

.containerFond{
    /* background-color: rgba(70, 131, 131, 0.5); */
    background: url('../images/centre.jpg');

    height: 40em;

}

.promise-quiSommesNous{
    padding: 3%;
    align-self: center;
    max-width: 50%;
    font-size: 20px;
    color: #FFFFFF;

}

.promise-quiSommesNous > p {
    margin-bottom: 60px;
}