.containerPromise2{
    margin: 3%;
    background: url('../Images/centre.jpg');
    background-size: cover;
    height: 40em;

}

.citation{
    color: white;
    font-size: 4em;
    padding: 5%;
    opacity: 100%;


}
.groupelement{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

.element{
    padding: 0.2%;
    margin-left: 5% ;
    width: 10%;
    text-align: center;
    border-radius: 8px;
    color: white;
}
#chambres{
    background-color: #8F4747;
    z-index: 1;
}
#piscine{
    background-color: #7B8C10;
}
#spa{
    background-color: #4B3D3D;
}
#modelages{
    background-color: #0D3F0B;
}

.containerFond{
    background-color: rgba(202, 212, 212, 0.5);
    height: 40em;

}
