.lcc-panel{
    display: flex;
    height: 60em;
    margin-top: -10%;
}

.lcc-slogan{

    display: flex; 
    flex-direction: column; 
    background: url('../Images/fôret.png');
    position: relative;
    top: 25%;
    left: 8%;
    height: 60%;
    width: 1000%;
    background-size: cover;
    z-index: 1;

}

.lcc-choix{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5%;
    font-size: 190%;
    color: white;
    background-color: #777D51;
    position: relative;
    left: -5%;
    top: 50%;
    height: 40%;
    width: 200%;
    z-index: 1;
}




li{
    margin-top: 3%;
    margin-bottom: 3%;
}

.box-place{
    font-size: 150%;
    display: flex;
    flex-direction: row;
    margin-top: 17%;
    margin-right: 10%;

}

.titre{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 400%;
    color: white;
    margin-top:8%;
    margin-left: 15%;
}

.box1{
    box-shadow:  0px 10px 7px black;
    text-align: center;
    background-color:#62514E;
    border-radius: 1em;
    width: 10%;
    height: auto;
    color: white;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5%;
    cursor: pointer;
   
}

.box2{
    box-shadow:  0px 10px 7px black;
    text-align: center;
    background-color:#62514E;
    border-radius: 1em;
    width: 20%;
    height: auto;
    color: white;  
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto; 
    padding: 0.5%;
    cursor: pointer;
}

.lcc-panel2{
    display: flex;
    flex-direction: column;
   
}

.lcc-slogan2{

    display: flex; 
    flex-direction: column; 
    background: url('../Images/test.png');
    top: 25%;
    left: 8%;
    height: 100%;
    width: 80%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 8px;

}

.titre2{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 400%;
    color: white;
    margin-top:8%;
    margin-left: 15%;
}


