.containerPromise3{
    display: flex;
    flex-direction: row;
    margin: 3%;
    background: url('../Images/centre.jpg');
    background-size: cover;
    background-position: center center;
    /* background-color: rgba(70, 131, 131, 0.5); */
    height: 40em;
    

}


.promise3-citation{
    color: #000000;
    font-size: 50px;
    padding: 2%;
    opacity: 100%;
    text-align: center;
    width: 40%;
}

.promise3-cadre{
    padding: 1.5%;
    position: relative;
    height: 30%;
    width: 48%;
    background-color: burlywood;
    bottom: -65%;
    line-height: 150%;
    /* bottom: -130px; */
    right: -7%;
}

.promise3-title{
    border-bottom:5px solid burlywood;
    color: white;
}

.sentence{
    margin-bottom: 1%;
}

.promise3-quiSommesNous{
    /* padding: 3%; */
    padding-bottom: 3%;
    align-self: center;
    /* max-width: 50%; */
    /* font-size: 20px; */
    color: #FFFFFF;
    text-align: justify;
    display: flex;
    flex-direction: column;

}



@media (max-width: 1000px) { 
    .containerPromise3{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        background-size: contain;
        height: 0%;
        background-size: cover;
    }
    .promise3-cadre{
        position: unset;
        width: auto;
        height: auto;

    }

    .promise3-title{
        font-size: 70%;
        margin-top: 50%;
        text-align: left;
    }
}