.containerTarif{
    background-image: url("../Images/fondTarifSpa.jpg");
    width: 70%;
    padding: 2%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


.titreCouture{
    background-color: rgb(179, 179, 179);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 500%;
    padding: 0%;
    
   
}

.containerWhiteTarif{
    background-color: white;
    font-size: 150%;
    padding: 3%;
}
.textTitleReservation{
    font-style: oblique;
    text-decoration: underline;
    
}


.titleCoutureDuCharme{
    font-size: 120%;
}

.borderBlack{
    border: solid black 3px;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.conainerTitleESPACE{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 130%;
}

.elementTitleESPACE{
    text-align: center;
}

.bloc2Left{
width: 60%;
}
.bloc2Right{
width: 40%;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.conatinerBloc2{
    display: flex;
    flex-direction: row;
}

#elementRow1{
    width: 65%;
}
#elementRow2{
    width: 17.5%;
}
#elementRow3{
    width: 17.5%;
}

.elmentCreneau{
    margin-top: 3%;
}

.TaxeSéjour{
    text-align: center;
    font-size: 80%;
    font-style: italic;
    margin-top: 7%;
}